<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="SearchPath" value="%SystemDrive%\$Windows.~bt\sources\panther,%SystemDrive%\Windows\Panther,%SystemDrive%\Windows\Panther\NewOS,%SystemDrive%\$Windows.~bt\sources\rollback"/>
    <add key="UpgradeSetupAct" value="%SystemDrive%\$Windows.~bt\sources\panther\setupact.log"/>
    <add key="UpgradeRollbackSetupAct" value="%SystemDrive%\$Windows.~bt\sources\rollback\setupact.log"/>
    <add key="SetupAPISearchPath" value="%SystemDrive%\$Windows.~bt\sources\rollback"/>
    <add key="KDPath" value="%SystemDrive%\Debuggers"/>
    <add key="DefaultRegPath" value="HKEY_LOCAL_MACHINE\System\Setup\MoSetup\Volatile"/>
    <add key="DefaultRegKeyName" value="SetupDiag"/>
    <add key="RegExFileName" value="RegExes.xml"/>
    <add key="ToolsDirectory" value="C:\Tools"/>
    <add key="ConsoleOutput" value="true"/>
    <add key="CBSModuleMatch" value="CBS,CSI,CMI"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="EventSourceName" value="Microsoft.Windows.SetupDiag"/>
    <add key="ExcludeFileTypes" value="exe,dll"/>
    <add key="RegExTimeoutInSeconds" value="40"/>
    <add key="LogFileTypes" value="setupact*.log,updateagent.log,bluebox.log"/>
    <add key="BuildInfoFileName" value="WindowsBuildInfoXml.xml"/>
    <add key="SWATLogHeaderFormat" value="Timestamp,ProcessId,ProcessorIndex,ThreadId,KernelTime,UserTime,ActivityId,ProviderId,LogLevel,UMID,Keyword,Component,Function,ErrorCode,Message" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
